<div class="row">
  <h2>Your Passkeys</h2>
</div>

<% if flash.notice %>
  <div class="text-danger">
    <p><%= flash.notice %></p>
  </div>
<% end %>

<div id="errors-box"></div>

<table class="table w-75 mx-auto border" id="credential-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Created At</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% if @credentials.length > 0 %>
      <% @credentials.each do |key| %>
        <%= render partial: 'shared/key_row', locals: {credential: key} %>
      <% end %>
    <% else %>
      <tr>
        <td>No Credentials!</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="card mx-auto p-2 col-md-2">
    <div class="card-header">
      <h4 class="text-center">New Passkey</h4>
    </div>

    <div class="card-body d-flex justify-content-center">
      <button id="credential-btn" class="btn btn-primary mx-auto">Create</button>
    </div>
  </div>
</div>
