<div class="row">
  <h2>Your Passkeys</h2>
</div>

<table class="table" id="credential-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Created At</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% if @credentials.length > 0 %>
      <%= @credentials.each do |key| %>
        <%= render partial: 'shared/key_row', locals: {credential: key} %>
      <% end %>
    <% else %>
      <tr>
        No Credentials!
      </tr>
    <% end %>
  </tbody>
</table>
