<div class="row my-3">
  <h2><%= @note.title %></h2>
  <strong>Word Count: <%= @note.word_count %></strong>
  <%= link_to 'Edit', edit_note_path(@note), class: 'btn btn-warning btn-sm col-sm-1 m-1' %>
</div>

<div class="row">
  <strong>Content:</strong>
</div>

<div class="container">
  <%= @note.content %>
</div>
