
<div class="card w-50 mx-auto my-2 p-3">
  <div class="row mb-3">
    <h2>PassKey Login</h2>

    <div id="errors-box"></div>
  </div>

  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input name="username" type="username" class="form-control" autofocus autocomplete='username webauthn' id="username-input" placeholder="Conditional-ui...">
  </div>
  <button id='cred-login-btn' class='btn btn-sm btn-primary'>Signin</button>
</div>

<script>
  const loginButton = document.querySelector('#cred-login-btn');

  document.addEventListener('keydown', function(event) {
    if (event.key === 'Enter' || event.keyCode === 13) {
      loginButton.click();
    }
  });

</script>
