<tr class="table-hover">
  <td><%= credential.id %></td>
  <td><%= credential.nickname %></td>
  <td><%= credential.created_at %></td>
  <td><%= link_to 'Delete', dashboard_path(credential.id), data: {turbo_method: :delete}, class: 'btn btn-danger btn-sm' %></td>
</tr>
