<nav class="navbar navbar-expand-lg border bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">MyNote</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Credentials</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Logout', signout_path, data: {turbo_method: :delete}, class: 'dropdown-item' %></li>
          </ul>
        </li>
      </ul>
      <%= link_to 'New Note', new_note_path, class: 'btn btn-success' %>
    </div>
  </div>
</nav>
